
<div style="margin: 30px">
  <h3>Latest Updates</h3>
</div>
<div style="display: flex">
  <div class="card-cust card" *ngFor="let ts of tshirts ;let i = index">
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <div class="view overlay">
          <mdb-card-img [src]="ts.image" alt="Card image cap"></mdb-card-img>

          <a routerLink="/buy">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>{{ts.name}}</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> {{ts.style}}
        </mdb-card-text>

        <a routerLink="/buy" (click)="buy(ts)" mdbBtn color="primary" mdbWavesEffect>Buy</a>
      </mdb-card-body>
    </mdb-card>
  </div>



</div>
