.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
}
body {
  padding-top: 60px;
}
.color-preview {
  border: 1px solid #CCC;
  margin: 2px;
  zoom: 1;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  width: 20px;
  height: 20px;
}
.rotate {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
  -ms-transform:rotate(90deg);
}
.Arial{font-family:"Arial";}
.Helvetica{font-family:"Helvetica";}
.MyriadPro{font-family:"Myriad Pro";}
.Delicious{font-family:"Delicious";}
.Verdana{font-family:"Verdana";}
.Georgia{font-family:"Georgia";}
.Courier{font-family:"Courier";}
.ComicSansMS{font-family:"Comic Sans MS";}
.Impact{font-family:"Impact";}
.Monaco{font-family:"Monaco";}
.Optima{font-family:"Optima";}
.HoeflerText{font-family:"Hoefler Text";}
.Plaster{font-family:"Plaster";}
.Engagement{font-family:"Engagement";}


.selection{
  color: rgba(0,0,0,0.5);
  margin-left: -252px;
  margin-right: -250px;
}
.fadeing{
  size: auto;
  position: absolute;
  width: 100%;
  height: 728px;

  left: 0px;
  background: #2a85a0;
  opacity: 50%;
}
.fade-but{
  font-size: 20px;
  text-align: center;
  position: absolute;
  width: 300px;
  height: 80px;
  top: 50%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 45%;
}




.dropdown-menu{ left: 30px}
.dropdown-menu .divider{*width:100%;height:1px;margin:9px 1px;*margin:-5px 0 5px;overflow:hidden;background-color:#e5e5e5;border-bottom:1px solid #ffffff;}
.dropdown-menu a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:20px;color:#333333;white-space:nowrap;}

.open{*z-index:1000;}.open >.dropdown-menu{display:block;}
